@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Muli:400,600,700,900');

* { 
	box-sizing: border-box;
}
.row:before,
.row:after {
	content: " ";
	clear: both;
	display: block;
}
body {
	margin: 0 auto;
	font-family: 'Muli', sans-serif;
}
.container {
	width: 100%;
	margin: 0 auto;
}

[class*="col-"] {
	float: left;
	min-height: 0.1vh;
	text-align: center;
	/*border: 2px solid blue;*/
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*jumbotron*/
/**navigation**/

.navbar.navbar-default.navbar-fixed-top {
    max-height: 50px;
    background-color: transparent;
    border-color: transparent;
    transition: background-color 2s; 
}
.navbar-toggle:hover, .navbar-dark .navbar-toggle:focus{
    background-color: transparent !important;
}
.navbar-nav {
     display: inline-block;
     float: none;
}
.collapse {
     text-align: center;
}
.nav li {
    list-style: none;
    padding: 0 40px;
    text-align: center;
    background: rgba(255,20,20,0);
}
.nav li a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-shadow: 2px 2px #000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all .3s;
}
.nav li a:hover {
 	color: #FFF;
    background: rgba(255,20,20,0);
    transform: scale(1.2);
}
.navbar-brand {
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 2px;
	text-shadow: 2px 2px #000;
	background: rgba(255,20,20,0);
	transition: all .3s;
}
.navbar-brand:hover {
	color: #FFF;
	transform: scale(1.2);
	text-shadow: 2px 2px #000;
}

/*headline styles*/
h2 {
	overflow: hidden;
	text-align: center;
	font-weight: 700;
}
h2 > span {
    position: relative;
    display: inline-block;
}
h2 > span:before, h2 > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 100px; 
    margin: 0 20px;
}
h2 > span:before{
    right: 100%;
}
h2 > span:after{
    left: 100%;
}

/*jumbotron*/
.jumbotron {
	background: linear-gradient(rgba(68, 64, 60, 0.7), rgba(153, 150, 145, 0.85)), url(./img/img28.jpg) 50% 50%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
  	height: 100vh;
  	padding: 0;
  	margin: 0;
  	position: relative;
}
.slogan {
	/*border: 2px solid green;*/
	margin: 0 auto;
	margin-top: 10%;
}
.jumbo div {
	animation: marginLeft 3s infinite;
	animation-iteration-count: 1;
	animation-duration: 3s;
	animation-timing-function: ease-out;
}
@keyframes marginLeft {
    0% {
        margin-left: -50%;
    }
    50% {
        margin-left: 0;
    }
    100% {
        margin-left: 0;
    }
}

.slogan h1 {
	color: #FFF;
	font-size: 100px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 12px;
	margin-top: 90px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.slogan h1:first-letter {
	font-size: 140px;
	color: #21a298;
	font-weight: 900;
	font-family: 'Archivo Black', sans-serif;
}
.slogan h2 {
	color: #FFF;
	font-size: 60px;
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
}
.slogan p {
	color: #FFF;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
}
.slogan p:first-letter {
	font-size: 50px;
	color: #21a298;
	font-weight: 700;
	font-family: 'Archivo Black', sans-serif;
}

/*about me*/
.about_Me {
	background-image: url("./img/about.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
  	height: 100vh;
  	display: flex;
	justify-content: center;
	align-items: center;
}
.about {
	width: 50%;
	height: 40vh;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: none;
}
.photo {
	width: 285px;
	height: 273px;
}
.photo img {
	width: 285px;
	height: 273px;
	object-fit: cover;
	border-radius: 50%;
}
.about_text {
	width: 30%;
}
.about_text h2 {
	color: #000;
	font-weight: 700;
	letter-spacing: 1px;
}
.about_text p {
	color: #000;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: left;
	padding-top: 20px;
}

/*skills*/
.my_skills {
	background-image: url('./img/skills1.png'), url('./img/skills2.png'), url('./img/skills3.png');
	min-height: 1440px;
	text-align: center;
	padding-top: 80px;
	color: #fff;
    text-align: center;
    animation: dot 20s linear infinite;
}

@keyframes dot {
	0% {background-position: 0px 0px;}
	100% {background-position: 500px 1000px, 500px 500px, 300px 300px;}
}

.my_skills h2 {
	color: #FFF;
	margin-bottom: 50px;
}
.row_1 {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}
.row_1 div {
	/*border: 4px solid #000;*/
	border-radius: 10px;
	width: 100px;
	height: 100px;
	background-color: #FFF;
	margin: 10px;
	padding: 10px;
	
}
.row_1 img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	animation: imgPulse 1s infinite;
	animation-timing-function: linear;
}
@keyframes imgPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/*works*/
.my_project {
	background: linear-gradient(rgba(245, 245, 245, 0.5), rgba(249, 249, 249, 0.5)), url("./img/img30.jpg") 50% 50%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	/*opacity: 0.7;*/
	width: 100%;
  	min-height: 1400px;
  	padding-top: 80px;
	padding-bottom: 50px;
}
.project_item h2 {
	color: #000;
	margin-bottom: 50px;

}
.row_2 {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	/*align-items: center;*/
	flex-wrap: wrap;
	width: 1100px;
	height: auto;
	margin-bottom: 20px;
	/*border: 2px solid orange;*/
}

.picture {
	position: relative;
	padding: 30px;
	background-color: #000;
	border-radius: 10px;
	/*border: 2px solid orange;*/
	margin-right: 20px;
}
.picture img {
	display: block;
	width: 400px;
	height: 250px;
	object-fit: cover;
	border: 2px solid #FFF;
}
.layer_gal {
	opacity: 0;
	position: absolute;
	width: 400px;
	height: 250px;
	text-align: center; 
	color: #FFF;
	padding: 0 10px;
}
.layer_gal h2 {
	margin-bottom: 10px;
	color: #FFF;
	font-size: 20px;
}
.layer_gal i {
	background: #000;
	color: #fff;
	position: relative;
	margin-top: 80vh;
	border-radius: 10%;
	padding: 5px;
	margin: 5px;
	border: 2px solid #FFF;
	cursor: pointer;
}
.picture:hover .layer_gal {
	opacity: 1;
	background: rgba(0, 0, 0, 0.5);
	transition-duration: 0.8s;
	left: 0;
	right: 0;
	margin: auto; 
	
}

/*contact*/
.contact {
	min-height: 1000px;
	background-color: #404040;
	padding-top: 80px;
}
.contact h2 {
	color: #FFF;
	margin-bottom: 50px;
}
.contact_form button {
	background-color: #21a298;
	color: #FFF;
	font-size: 18px;
	font-weight: 600;
	border: none;
	transition: easy-in .3s;
}
.contact_form button:hover {
	transform: scale(1.2);
	background-color: #21a298;
}
.contact_data {
	/*border: 2px solid green;*/
	margin-right: 0;
	padding-right: 0;
}
.form {
	float: right;
	margin-top: 100px;
	margin-right: 3vw;
}
.form h3 {
	color: #FFF;
}
.form-group input, .form-group textarea {
	width: 300px;
}
.data {
	float: left;
	margin-left: 3vw;
	/*height: 100vh;*/
}
.data p {
	font-size: 20px;
	font-weight: 600;
}
.data_1 {
	width: 300px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 600;
	margin: 10px;
	background-color: #FFF;
	box-shadow: 0px 0px 20px #34495e;
	background: radial-gradient(100% 100%, #737373, #FFF);	
	background: -webkit-radial-gradient(100% 100%, #737373, #FFF);
}
.data_1.email, .data_1.phone_nr {
	display: block;
	padding-top: 30px;
}
.icons a {
	text-decoration: none;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	line-height: 50px;
	margin: 0 5px;
	display: inline-block;
	background-color: #000;
	color: #FFF;
	transition: .3s;
}
.icons a>i {
	padding-top: 5px;
}
.icons a:last-of-type {
	font-size: 20px;
	font-weight: 700;
}
.icons a:hover {
	background-color: #FFF;
	color: #000;
	transform: scale(1.2);
}

/*footer*/

._footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #000;
	color: #b3b3b3;
	padding: 5px;
	font-size: 12px;
	font-weight: 700;
}
._footer p {
	padding-bottom: 0;
	margin-bottom: 0;
}
.foot2 a {
	text-decoration: none;
	width: 25px;
	height: 25px;
	line-height: 25px;
	margin: 0 2px;
	display: inline-block;
	background-color: #000;
	color: #21a298;
	padding-left: 2px;
	transition: all .3s;
}
.foot2 a:last-of-type {
	font-size: 16px;
	font-weight: 900;
}
.foot2 a:hover {
	transform: scale(1.2);
}
